<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.chamaapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".TheAllChat"
            android:theme="@style/AppThemeDarkActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".NotificationBroadCastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".UserFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".deleteEventJobScheduler"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".EnterAnEvent" />
        <activity
            android:name=".EventActivity"
            android:theme="@style/AppThemeDarkActionBar" />

        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <activity
            android:name=".AllDetails"
            android:theme="@style/AppThemeWhiteActionBar" />
        <activity
            android:name=".MyDetails"
            android:theme="@style/AppThemeWhiteActionBar" />
        <activity
            android:name=".TheNavigationDrawer"
            android:label="@string/title_activity_the_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity android:name="com.example.admin.chamaapp.admin.SettingsActivity"
            android:label="Settings Activity"
            android:theme="@style/AppThemeDarkActionBar"
            android:parentActivityName=".TheNavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TheNavigationDrawer"/>

        </activity>


        <activity android:name=".check">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Welcome"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- This allows one to read the pdf file without errors -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".AppWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_activity_info" />
        </receiver>
    </application>

</manifest>