<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.chamaapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <receiver
            android:name=".NotificationBroadCastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <service
            android:name=".UserFirebaseMessagingService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".deleteEventJobScheduler"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <activity android:name=".EnterAnEvent" />
        <activity android:name=".EventActivity" />

        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <activity android:name=".AMemberDetails" />
        <activity android:name=".AllDetails" />
        <activity android:name=".MyDetails" />
        <activity
            android:name=".MyProfile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar." />
        <activity android:name=".LoginInsteadOfCreating" />
        <activity
            android:name=".TheNavigationDrawer"
            android:label="@string/title_activity_the_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".check">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create" />
        <activity android:name=".Sign" />
        <activity android:name=".AdminMockup" />
        <activity android:name=".MemberMockup" />
        <activity android:name=".Login" />
        <activity android:name=".ThePager" />
        <activity android:name=".Welcome" /> <!-- This allows one to read the pdf file without errors -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>