<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name="com.example.admin.chamaapp.AdminOnlyChat"
            android:theme="@style/AppThemeDarkActionBar"></activity>
        <activity
            android:name="com.example.admin.chamaapp.admin.View.TheNavigationDrawer"
            tools:replace="android:label"
            android:label="@string/title_activity_navigation_drawer_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.admin.chamaapp.MemberFragment"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>